#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.read-the-docs {
  color: #888;
}

.text-center {
  text-align: center;
}

.refreshButton {
  background-color: #4CAF50; /* Green background */
  color: white; /* White text color */
  padding: 10px 20px; /* Padding inside the button */
  border: none; /* Remove default border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Change cursor on hover */
  font-size: 16px; /* Font size */
  transition: background-color 0.3s ease; /* Smooth transition on hover */
}